<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"> 
    <title>ML Demo</title>
    <link rel="icon" type="image/x-icon" href="images/knn.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/divs.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/buttons.css' %}">
</head>
<body>
    <div style="padding-top: 50px; font-size: 35px;">
        COMPARING <b>MACHINE LEARNING</b> MODELS
    <div>
    <div style="padding-top: 50px;">
        Explanation. Make it self explanatory for non-expertise. 
    </div>
    <div>
        <div class="col" style="width: 80%; text-align: left; padding-top: 40px;">
            <button class="model-button" onclick="location.href = '/log'">Logistic Regression model</button>
            <button class="model-button" onclick="location.href = '/knn'">K-Nearest Neighbours</button>
            <button class="model-button" onclick="location.href = '/svm'">Support Vector Machine model</button>
            <button class="model-button">More coming soon...
        </div>  

    </div>
    
    <div style="padding-top: 50px">
        <div class="col" style="width: 80%;">
            {% block body %}
    
            {% endblock %}
        </div>
    </div>
</body>
</html>