{% extends "compare_ml/layout.html" %}

{% block body %}
    <div style="text-align: left">
        <!-- COL 1 -->
        <div class="col" style="width: 50%;">
            {% if plot %}
                <img src="data:image/png;base64, {{plot|safe}}">
            {% endif %}
        </div>
        <div  class="col" style="width: 45%; padding-top: 20px; text-align: left">
            Enter your budget and the features of your desired propety, then
            {% if form %}
            <table>
                <form action="{% url 'compare_ml:logistic-regression' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <input type="submit">
                </form>
            </table>
            {% endif %}
            <p>This model predicts the probability your desired property is within budget is <b>{{ prediction_prob }}%</b>, and is accurate to <b>{{ accuracy }}%</b></p>
            <p style="font-weight: normal">(All the blue training data points on the graph are properties within your budget; all the red are not within your budget.)</p>
        </div>
    </div>

    <!-- ROW 3C -->
    <div class="row" style="font-weight: normal; padding-right: 60px">
        <h2>HOW DOES THE LOGISTIC REGRESSION MODEL WORK?</h2>

        <p>When labels are binary, a linear regression cannot fit to points accurately, 
            so a logisitc regression model may be used.</p>
        <br>
        <u>ADVANTAGES:</u>   
        <ul>
            <li>Can be used to predict the probability your sample will have a particular label.</li>
        </ul>
        <u>DISADVANTAGES:</u> 
        <ul>
            <li>May not be accurate for complex distrubutions of data with many features.</li>
        </ul>
    </div>
{% endblock %}